@model EditUserViewModel


<h2>Ändra använderuppgifter</h2>


<form asp-controller="Account" asp-action="EditUser" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="UserName" />

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control">
        <span asp-validation-for="FullName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adress"></label>
        <input asp-for="Adress" class="form-control">
        <span asp-validation-for="Adress"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control">
        <span asp-validation-for="PostalCode"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control">
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control">
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <button type="submit" class="btn btn-default">Spara</button>
</form>

