
@*@model IEnumerable<ApplicationUser>*@

@model UsersViewModel



    <a asp-controller="Account" asp-action="RegisterUser" class="btn btn-default">Lägg till användare</a>

    <table class="table table-striped table-bordered">
        <caption>Användare</caption>
        <thead>
        <tr>
            <th>Användarnamn</th>
            <th>Roll</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var regularuser in Model.RegularUsers)
        {
            <tr>
                <td>@regularuser.UserName</td>
                <td><div id="#MinDetaljDiv">RegularUser</div></td>
                <td>
                    <form asp-controller="Account" asp-action="ChangeRole" method="get">
                        <select asp-items=@ViewBag.Roles
                                data-ajax="true"
                                data-ajax-method="GET"
                                data-ajax-mode="replace"
                                data-ajax-update="#MinDetaljDiv"></select>
                        <button type="submit">khgkhj</button>
                    </form>
                </td>
            </tr>
        }
        
        @foreach (var premiumuser in Model.PremiumUsers)
        {
            <tr>
                <td>@premiumuser.UserName</td>
                <td>PremiumUser</td>
                <td>
                    <select asp-items=@ViewBag.Roles></select>
                </td>
            </tr>
        }

        </tbody>
    </table>


   