@model ProductViewModel


<h2>Ändra ingrediens</h2>


<form asp-controller="Menu" asp-action="EditProduct" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="@Model.ProduktId" />

    <div class="form-group">
        <label asp-for="ProduktNamn"></label>
        <input asp-for="ProduktNamn" class="form-control">
        <span asp-validation-for="ProduktNamn"></span>
    </div>

    <button type="submit" class="btn btn-default">Spara</button>
</form>