<div style="float: right">
    <img src="~/pictures/pizzamiddag-300x209.jpg" style="margin-right: auto; display: block" />
    <img src="~/pictures/sallad-300x162.jpg" style="margin-left: auto; display: block" />
</div>
<h1>Välkommen</h1>
<div>
    <p>
        Hej och Välkommen till Tomasos Online Pizzeria
        Du är välkommen att beställa av mat för avhämtning.
        Du kan även ringa och beställa för avhämtning.
    </p>
</div>